<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found!</title>
    <link rel="stylesheet" type="text/css" href="/css/steam.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <h1 class="title">404</h1>
    <img style="filter: invert(1);" src="svg/404.svg" alt="404 error icon" width="128" height="128">
    <h2>This page does not exist</h2>
    <button><a href="/">Return to start</a></button>
</body>
</html>