<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request denied!</title>
    <link rel="stylesheet" type="text/css" href="/css/steam.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
    <h1>405</h1>
    <h2>The <%= requestMethod %> method is not allowed</h2>
</body>
</html>