<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de dados M3 - Index</title>
</head>
<body>
    <h1>Bem vindo a pagina inicial do banco de dados!</h1>
    <h2>Se você ta lendo isso, provavelmente funcionou a ideia</h2>
</body>
</html>